# Required
VITE_API_URL='https://api.brownfi.io'

# Optional
VITE_KYBERSWAP_ZAP_API_URL='https://zap-api.kyberswap.com'
VITE_WALLETCONNECT_PROJECT_ID='your-walletconnect-project-id'
VITE_ENVIRONMENT='mainnet'
