# Required
VITE_API_URL='https://api.brownfi.io'
VITE_API_V2_URL='https://api.brownfi.io'

# Optional
VITE_SERVER_URL='https://api.browndex.io'
VITE_KYBERSWAP_ZAP_API_URL='https://zap-api.kyberswap.com'
VITE_WALLETCONNECT_PROJECT_ID='your-walletconnect-project-id'
VITE_ENVIRONMENT='mainnet'
