{
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "arrowParens": "always",
  "trailingComma": "all",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^(pages)/?(.*)$",
    "^(components|containers)/?(.*)$",
    "^(connectors|services)/?(.*)$",
    "^(hooks|state)/?(.*)$",
    "^(utils|constants|data)/?(.*)$",
    "^(theme|assets)/?(.*)$",
    "^[./]",
    "^.*css$"
  ],
  "importOrderSortSpecifiers": true,
  "importOrderSeparation": true
}